.wrapper {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: auto;
  padding: 20px;
  justify-items: center;
  border: solid 1px black;
}

.task {
  display: flex;
  flex-direction: row;
}

.text {
  flex-grow: 1;
}

.button {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.notask {
  margin: auto;
}

.buttonDel {
  width: 100px;
  justify-content: flex-end;
}
